.post-container {
  width: 550px;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.pagination-container {
  width: 550px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.page-btn {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
