.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background: #c42323;
  color: white;
  padding: 16px;
  text-align: center;
}

.middle {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 16px;
}

@media (max-width:768px) {
    .middle{
        flex-direction: column;
    }
    
}

/* .content {
  flex: 1;
  background: #e0f2ff;
  padding: 16px;
} */
