/* Center the button */
.show-offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Show Offer button */
.offer-btn {
  height: 50px;
  width: 150px;
  border: none;
  background-color: #6a0dad;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* Overlay background */
.modal {
  position: fixed;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  background: rgba(0, 0, 0, 0.5);  /* simple dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Modal text */
.content {
  margin: 30px 0;
  font-size: 18px;
}

/* Accept button */
.accept-btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #6a0dad;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
